<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>header}}
    <!-- main header -->
    <main class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="./images/about.png" alt="about" width="100%" />
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Hakim Weather app</p>
                        <h1>I am a <span>Javascript</span> Developer , entrepreneur , Freelancer</h1>
                        <a href="#" class="btn btn-primary" target="_hakim">Visit my site</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- main header -->
    <!-- footer code -->
    {{>footer}}
</body>

</html>