<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    <div class="container text-center pt-5 error_wrapper">
        <figure>
            <img src="./images/404.svg" alt="not found" width="400px"/>
        </figure>
        <h1 class="display-4 mt-3">{{errorText}}</h1>
        <a href="/" class="btn btn-primary mt-5" style="font-size: 1.5rem">Go Back To Home</a>
    </div>
</body>
</html>