<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    {{>header}}
    {{!-- header ends --}}
    <main class="container-fluid main_header text-center">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form class='temp-content' id="form">
                        <input type="text" placeholder="Enter your city name" autocomplete="off" id="text"/>
                        <input type="submit" value="Search">
                    </form>
                </div>
                <div class="tempInformation mt-5 mx-auto">
                    <div class="top_layer">
                        <p id="day">Thursday</p>
                        <p id="today_date">11 Aug</p>
                    </div>
                    <div class="main_layer">
                        <p class="city_name">Get Output Here</p>
                        <div class="middle_layer">
                            <p id="temp">
                                <span id="temp_amount">0</span><sup>o</sup>F
                            </p>
                            <p id="temp_status">
                                <i class="fas fa-cloud" aria-hidden="true" id="icon"></i>
                            </p>
                        </div>
                        <p id="address"></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{!-- footer starts --}}
    {{>footer}}
</body>
</html>